.contenedor {
    position: relative;
    padding: 100px 100px 0;

    @media(max-width: 1350px) {
        padding: 100px 10px 0;
    }

    @media(max-width: 1150px) {
        padding: 100px 0px 0;
    }

    @media(max-width: 800px) {
        padding: 50px 0;
    }

    @media(max-width: 500px) {
        padding: 25px 0px;
    }

    h2 {

        text-align: center;
        font-size: 40px;
        font-weight: 600;

        @media(max-width: 800px) {
            font-size: 35px;
        }

        @media(max-width: 600px) {
            font-size: 30px;
        }

        @media(max-width: 400px) {
            font-size: 20px;
        }
    }

    h4 {
        display: inline-block;
        margin-top: 50px;
        text-align: start;
        font-weight: 600;

        @media(max-width: 600px) {
            margin-top: 20px;
        }

        @media(max-width: 400px) {
            font-size: 15px;

        }

    }

    .container-skills {

        display: flex;
        justify-content: center;

        @media(max-width: 1100px) {
            flex-direction: column;

        }

    }

    .skills-left,
    .skills-right {

        flex-basis: 50%;
        font-weight: bold;

        .skills {
            text-align: center;
            margin: auto;
            width: 90%;
            margin-top: 30px;
            gap: 20px;

            .skill {
                margin-top: 20px;

                img {
                    width: 100px;

                    @media(max-width: 800px) {
                        width: 80px;
                    }

                    @media(max-width: 440px) {
                        width: 50px;
                    }

                }
            }

        }

    }

    .bg-bootstrap {
        background-color: #5B4083;
    }

    .bg-sass {
        background: #CC6699;
    }

    .bg-tailwind {
        background: #44A8B3;
    }

    .bg-motion {
        background-color: #BD51D0;
    }
}